<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='custom.js') }}"></script>
  <title>Stylizer</title>
</head>

<body class="bg-light">
  <div class="border-bottom Header d-flex align-items-center justify-content-center justify-content-md-start">
    <h3 class="text-white ml-md-5">Make a Masterpiece with AI</h3>
  </div>
  <div class="BodyContent">
    <div class="container-fluid pt-3">
      <div class="row">
        <div class="col-md-3 p-0 p-md-2">
          <nav class="navbar navbar-expand-md">
            <button class="navbar-toggler w-100" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
              aria-controls="navbarTogglerDemo01" aria-expanded="true" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon text-center"><img class="img-fluid"
                  src="/static/demonstration/menu.png" /></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" href="#" onclick="LoadSetting('v-pills-home');">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" onclick="LoadSetting('v-pills-Started');">Getting Started</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" onclick="LoadSetting('v-pills-Stylize');">Stylize</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" onclick="LoadSetting('v-pills-Results');">Results</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" onclick="LoadSetting('v-pills-About');">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" onclick="LoadSetting('v-pills-settings');">User Settings</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        <div class="col-md-9 border-left">
          <div id="v-pills-tabContent">
            <div class="d-none" id="v-pills-home" data-url="/home">Loading...</div>
            <div class="d-none" id="v-pills-Stylize" data-url="/UserImages">Loading...</div>
            <div class="d-none" id="v-pills-Started" data-url="/GettingStarted">Loading...</div>
            <div class="d-none" id="v-pills-About" data-url="/About">Loading...</div>
            <div class="d-none" id="v-pills-settings" data-url="/set-id">Loading...</div>
            <div class="d-none" id="v-pills-Results" data-url="/UserResults">Loading...</div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="w-100 text-right p-4">
      User: <span class="text-primary">{{ uid }}</span>
    </div>
    <input id="InitialRoute" class="d-none" value="{{ IR }}" />
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Page Not Found</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Apologies friend, but we couldn't find the page you were looking for. Please try again or select
          another option.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  {%block main%}{%endblock%}
</body>

</html>