<h4>Getting Started</h3>
<p>This application is designed to allow you to customize a photo using the power of artificial intelligence. 
    To start all you need is a picture to upload. Once you upload your photo the system will process the image
        in the back ground and will cache it once it is completed. After you have uploaded the image head over to the Stylize 
        tab and wait until the image is complete. Once it shows up you can download your image and keep it forever. Enjoy!
</p>