{% extends 'base.html' %}

{% block title %}Image styling via Machine Learning{% endblock %}

{% block main %}
<style>



[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

@keyframes border-pulse {
    35% { outline: rgba(20, 20, 20, 0); }
    50% { outline: rgba(255, 255, 255, 0); }
    65% { outline: rgba(20, 20, 20, 0); }
}
/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 3px solid red;
  animation: border-pulse 1s infinite;
}


form {
  margin:auto;
  width:100%;
}
form>label {
  display:inline-block;
  
  width:24.5%;
  height:auto;
  text-align:center;
}

form>label>img {
  width:100%;
  height:auto;
}
</style>

<div class="container">
  <div class="card-deck mb-3">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal text-center">Select style:</h4>
      </div>
      <div class="card-body" id="imgwrapper">
        <form action="proc" method="post" enctype="multipart/form-data">
          <!-- Using images instead of radio buttons: https://stackoverflow.com/questions/17541614/use-images-instead-of-radio-buttons -->
          <label title="Cubism">
            <input type="radio" id="cubism26" name="convertStyle" value="cubism26" checked='true' title="Cubism">
            <img class='radio-image' src="static/demonstration/steve-cubism26.png">cubism26
          </label>
          <label title="marbles">
            <input type="radio" id="marbles" name="convertStyle" value="marbles">
            <img class='radio-image' src="static/demonstration/steve-marbles.png">marbles
          </label>
          <label title="napoleon">
            <input type="radio" id="napoleon" name="convertStyle" value="napoleon">
            <img class='radio-image' src="static/demonstration/steve-napoleon.png">napoleon
          </label>
          <label title="sailormoon">
            <input type="radio" id="sailormoon" name="convertStyle" value="sailormoon">
            <img class='radio-image' src="static/demonstration/steve-sailormoon.png">sailormoon
          </label>
          <label title="starry">
            <input type="radio" id="starry" name="convertStyle" value="starry">
            <img class='radio-image' src="static/demonstration/steve-starry.png">starry
          </label>
          <label title="sunephant">
            <input type="radio" id="sunephant" name="convertStyle" value="sunephant">
            <img class='radio-image' src="static/demonstration/steve-sunephant.png">sunephant
          </label>
          <label title="candy">
            <input type="radio" id="candy" name="convertStyle" value="candy">
            <img class='radio-image' src="static/demonstration/steve-candy.png">candy
          </label>
          <label title="green_swirly">
            <input type="radio" id="green_swirly" name="convertStyle" value="green_swirly">
            <img class='radio-image' src="static/demonstration/steve-green_swirly.png">green_swirly
          </label>
          <label title="mosaic">
            <input type="radio" id="mosaic" name="convertStyle" value="mosaic">
            <img class='radio-image' src="static/demonstration/steve-mosaic.png">mosaic
          </label>
          <label title="rain_princess">
            <input type="radio" id="rain_princess" name="convertStyle" value="rain_princess">
            <img class='radio-image' src="static/demonstration/steve-rain_princess.png">rain_princess
          </label>
          <label title="udnie">
            <input type="radio" id="udnie" name="convertStyle" value="udnie">
            <img class='radio-image' src="static/demonstration/steve-udnie.png">udnie
          </label>
          <label title="udnie">
            <input type="radio" id="stained_glass_saints" name="convertStyle" value="stained_glass_saints">
            <img class='radio-image' src="static/demonstration/steve-stained_glass_saints.png">
            stained_glass_saints
          </label><br>
          <label for="file">File to Style:</label>
          <input type="file" class="form-control" name="file" id="file" required>
          <br>
          <button class="btn btn-primary btn-lg btn-block" type="submit">Stylize</button>
        </form>
      </div>
    </div>
  </div>


{% endblock %}
